body {
  background-color: #01081f;
  font-family: sans-serif;
  color: #fff;
}

h1 {
  color: inherit;
  text-align: center;
}
p{
  color: inherit;
  font-size: 12px;
  text-align: center;
}

.logo{
  display: block;
  margin: 0 auto;
}

canvas {
  display: block;
  margin: auto;}
